@model TrackingVaccineService.User
@{
    ViewBag.Title = "Login";
}

<!-- Start Contact Area -->
<section class="prevention__area ptb--40 bg__white prevention__bg htc__contact__area bg__white pt--30 pb--15">
    <div class="ht__bradcaump__area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bradcaump__title text-center">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Conatact Form -->
    <div class="psy__contact__form mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                    <div class="htc__contact__form__wrap">
                    <div class="contact-form-wrap">
                        <h2 class="ct__title text--theme">Login</h2>
                        @using (Html.BeginForm("Login", "Home", FormMethod.Post)){
                            @Html.AntiForgeryToken()
                            <div class="single-contact-form">
                                <div class="contact-box subject">
                                    @Html.TextBoxFor(model => model.username, new { placeholder = "Username" })
                                </div>
                                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                            </div>
                            <div class="single-contact-form">
                                <div class="contact-box subject">
                                    @Html.TextBoxFor(model => model.password, new { placeholder = "Password" })
                                </div>
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                            <div class="contact-btn mt-3">
                                <button type="submit">Login</button>
                            </div>
                            <div class="contact-btn mt-3">
                                @Html.ActionLink("Register", "Register", "Home")
                            </div>
                        }
                    </div>
                                                
                </div>
            </div>
                </div>
            </div>
        </div>

    <!-- End Conatact Form -->
</section>
@section Scripts {
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        @if (Session["success"] != null)
        {
            <text>
                swal({
                    title: "Success!",
                    text: "@Session["success"]",
                    icon: "success",
                    button: "OK",
                });
            </text>
        }
        @Session["success"] = null;
    </script>
}
