@{
    ViewBag.Title = "Register";
}


 <!-- Start Contact Area -->
<section class="prevention__area ptb--40 bg__white prevention__bg htc__contact__area bg__white pt--30 pb--15">
    <div class="ht__bradcaump__area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bradcaump__title text-center">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Conatact Form -->
    <div class="psy__contact__form mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                    <div class="htc__contact__form__wrap">
                    <div class="contact-form-wrap">
                        <h2 class="ct__title text--theme">Register</h2>
                        @using (Html.BeginForm("Register", "Home", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="single-contact-form">
                                <div class="contact-box subject">
                                    @Html.TextBox("username", null, new { placeholder = "Email" })
                                </div>
                                @Html.ValidationMessage("username", "", new { @class = "text-danger" })
                            </div>

                            <div class="single-contact-form">
                                <div class="contact-box subject">
                                    @Html.TextBox("password", null, new { placeholder = "Password" })
                                </div>
                                @Html.ValidationMessage("password", "", new { @class = "text-danger" })
                            </div>

                            <div class="single-contact-form">
                                <div class="contact-box subject">
                                    @Html.TextBox("confirmPassword", null, new { placeholder = "Confirm Password" })
                                </div>
                                @Html.ValidationMessage("confirmPassword", "", new { @class = "text-danger" })
                            </div>

                            <div class="single-contact-form">
                                <div class="contact-box subject">
                                    @Html.TextBox("NIK", null, new { placeholder = "NIK" })
                                </div>
                                @Html.ValidationMessage("NIK", "", new { @class = "text-danger" })
                            </div>

                            <div class="single-contact-form">
                                <div class="contact-box subject">
                                    @Html.TextBox("name", null, new { placeholder = "Name" })
                                </div>
                                @Html.ValidationMessage("name", "", new { @class = "text-danger" })
                            </div>

                            <div class="single-contact-form">
                                <div class="contact-box subject">
                                    @Html.TextBox("age", null, new { placeholder = "Age" })
                                </div>
                                @Html.ValidationMessage("age", "", new { @class = "text-danger" })
                            </div>

                            <div class="single-contact-form">
                                <div class="contact-box subject">
                                    @Html.TextBox("address", null, new { placeholder = "Address" })
                                </div>
                                @Html.ValidationMessage("address", "", new { @class = "text-danger" })
                            </div>

                            <div class="single-contact-form">
                                <div class="contact-box subject">
                                    @Html.DropDownList("gender", new List<SelectListItem>
                                    {
                                        new SelectListItem { Text = "Male", Value = "Male" },
                                        new SelectListItem { Text = "Female", Value = "Female" },
                                        new SelectListItem { Text = "Other", Value = "Other" }
                                    }, "Select Gender", new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessage("gender", "", new { @class = "text-danger" })
                            </div>
                            <div class="contact-btn mt-3">
                                <button type="submit">Register</button>
                            </div>

                            <div class="contact-btn mt-3">
                                @Html.ActionLink("Login", "Login")
                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Conatact Form -->
</section>