<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/default.css")
    @Styles.Render("~/Content/plugin.css")
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/responsive.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="htc__header header_transparent-bg">
        <!-- Start Mainmenu Area -->
        <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header d-none d-lg-block">
            <div class="container-fluid container-fluid--cp-100">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                        <div class="logo">
                            <a href="index.html">
                                <img src="~/images/logo/logo-white.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <nav class="main__menu__nav">
                            <ul class="main__menu white-text">
                                <li class="drop">
                                    @Html.ActionLink("Home", "Index", "Home")
                                </li>
                                <li class="drop">@Html.ActionLink("About", "About", "Home")</li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-auto">
                        <div class="header-top-button text-end">
                            @Html.ActionLink("Login", "Login")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Mainmenu Area -->
    </header>
    <!-- Start Mobile Header -->
    <div class="mobile-header d-block d-lg-none">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <div class="logo">
                        <a href="index.html">
                            <img src="../images/logo/logo.png" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="col-auto">
                    <button class="offcanvas-menu-btn" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#toggleMenu">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Mobile Header -->
    <!--  Start Offcanvas Mobile Menu Section  -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="toggleMenu">
        <div class="offcanvas-header">
            <!-- Start Header Logo -->
            <a href="index.html" class="header-logo"><img src="images/logo/logo.png" alt=""></a>
            <!-- End Header Logo -->
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!-- Start Offcanvas Mobile Menu Wrapper -->
            <div class="offcanvas-mobile-menu-wrapper">
                <!-- Start Mobile Menu  -->
                <div class="mobile-menu-bottom">
                    <!-- Start Mobile Menu Nav -->
                    <div class="offcanvas-menu">
                        <ul>
                            <li class="menu-item-has-children">
                                @Html.ActionLink("Home", "Index", "Home")
                            </li>
                            
                        </ul>
                    </div> <!-- End Mobile Menu Nav -->
                </div> <!-- End Mobile Menu -->

            </div> <!-- End Offcanvas Mobile Menu Wrapper -->
        </div>
    </div>
    <!--  End Offcanvas Mobile Menu Section -->


    @RenderBody()
    <footer class="footer_area">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright__content">
                            <div class="copyright__inner">
                                <p>Copyright © <a href="#">Kelompok 15 2023</a> All Rights Reserves </p>
                            </div>
                            <div class="social__icon">
                                <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                                <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                                <a href="#"><i class="zmdi zmdi-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Copyright Area -->
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/plugin.js")
    @Scripts.Render("~/Scripts/main.js")
    @RenderSection("scripts", required: false)
</body>
</html>
