@model TrackingVaccineService.Vaccine[]
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutBackend.cshtml";
}

<main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container-xl px-4">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <div class="page-header-icon">
                                <i data-feather="activity"></i>
                            </div>
                            List Vaccine
                        </h1>
                        <div class="page-header-subtitle">
                            List Vaccine
                        </div>
                    </div>
                    <div class="col-12 col-xl-auto mt-4">
                        <div class="btn-group">
                            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-white btn-sm" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-n10">
        <div class="card mb-4">
            <div class="card-header">List Vaccine</div>
            <div class="card-body">
                <table id="datatables" class="table" style="width: 100%">
                    <thead>
                        <tr>
                            <th>ID Vaccine</th>
                            <th>Nama</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.id</td>
                                <td>@item.code</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-warning" })
                                    
                                    <a href="#" class="btn btn-danger" onclick="sweetAlertDelete('@item.id')">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
@section scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @if (ViewBag.status == true)
    {
        <script>
            swal({
                title: "Success",
                text: ViewBag.message,
                icon: "success",
                button: "ok"
            });
        </script>
    }
    <script>
        function sweetAlertDelete(id) {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this imaginary file!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    
                    if (willDelete) {
                        window.location.href = "/Procedur/Delete/" + id;
                    } else {
                        swal("Your imaginary file is safe!");
                    }
                });
        }
    </script>
}
